<h1>YAAAA, WELCOME TO THE INDEX MY NIGGA!!!</h1>
<a href="/sex">Click here for a funsies 404 page heehehehehe</a>

<a href="/bye">Bye in Patois</a>

<a href="/hello">Hello in Patois</a>

<h3>Did you know this website's backend is written complety in <span style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: orange;">Rust</span> by <a href="https://kodeine.com" style="text-decoration: none; ; color: rgb(252, 0, 252); font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">kodeine</a> the og?</h3>